<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="images/Barbosa Dev - ICONE.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Barbosa Dev - Serviços</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/Barbosa Dev - LOGO TRANSPARENTE.png" />
      </div>
      <!--menu-->
      <nav>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/">Início</a>
          </li>
          <li>
            <a href="/services" style="font-weight: bold; color: #1976d2"
              >Serviços</a
            >
          </li>
          <li><a href="/contact">Contato</a></li>
        </ul>
      </nav>

      <!--menu-->
    </header>
    <section class="services">
      <div class="service-single">
        <div class="service-text">
          <h2>Criação de Sites</h2>
          <p>
            Nossa empresa oferece o serviço de criação de sites personalizados,
            adaptados às necessidades individuais de cada cliente. Com uma
            equipe experiente e foco na qualidade, garantimos sites atrativos,
            funcionais e que impulsionam o sucesso online dos nossos clientes.
          </p>
          <button onclick="window.location.href = '/contact';">
            Entrar em contato
          </button>
        </div>
        <!--service-text-->
        <div class="service-image">
          <img src="images/image-create-website.webp" alt="" />
        </div>
        <!--service-image-->
      </div>
      <!--service-single-->
    </section>
    <!--services-->

    <footer>
      <p>Desenvolvido por <a href="/">BarbosaDev</a> ®️</p>
    </footer>

    <script src="js/mobile.menu.js"></script>
  </body>
</html>
